.product-info {
  margin-top: 20px;
  text-align: center;
}

.product-info h2 {
  font-size: 24px;
  color: #333;
}

.product-info p {
  color: #666;
  font-size: 16px;
}

.price {
  font-weight: bold;
  color: #333;
}
